{% extends 'base.html' %}

{% block styles %}
<style>
    body, html {
      height: 100%;
      
    }

    .messages-box {
      flex: 1;
      overflow-y: auto;
      background-color: #f2f2f2;
    }

    .messages-list {
      padding-left: 0;
    }

    .message-container{
      display: flex;
      margin-bottom: 15px;
      list-style: none;
    }


    .align-right{
      justify-content:right;
    }

    .message {
      width:60%;
      padding: 2px 16px;      
    }

    .message-text {
      padding: 10px;
      

    }

    .sent {
      background-color: #8E94B9; 
      border-radius: 30px 30px 0 30px  ;
      
    }

    .received {
      background-color: #E1E3F0;
      text-align: right;
      border-radius: 30px 30px 30px 0 ;
    }

    .message-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #f8f9fa;
    }

    .message-input {
      flex: 1;
      border-radius: 0;
      border-right: none;
    }

    .btn-send {
      border-radius: 0 10px 10px 0;
    }

    .chat-container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .card-header{
      display:flex;
      align-items: center;
      justify-content: space-between;
      
     
    }

    .list-container{
      display: flex;
      align-items: center;
      justify-content: space-around;
      
    }

    .list-container > a {
      padding: 0px 6px;
      color: #FFF;
    }

    .form-control{
      border-radius: 10px 0 0 10px ;
    }
    
    


  </style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <div class="card flex-grow-1">
    <!-- header -->




    <div class="card-header bg-dark text-white">
      <div class='header-title'> Chat </div>
      <div class='list-container'>
        <a href='{% url 'home' %}'>Home</a>
        {%if user.is_authenticated%}
          <a href='logout'> Logout </a>
        {% else %}
        
          
          <a href='login'>Login</a>
          <a href='register'> Register</a>
      
        {%endif%}
      </div>
    </div>

    <!-- chat -->
    <div class="card-body messages-box">
      
      <ul class="list-unstyled messages-list">
        
        {% comment %} <li class="message received">
          <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
              Hi {{user.username}}, I am your AI Chatbot, you can ask me anything.
            </div>
          </div>
        </li>
      {% endcomment %}
      

      {%for chat in chats%}
        {% if chat.user == request.user %}
        <li class="message-container align-right">
          <div class='message sent'>
            <div class="message-text">
              <div class="message-sender">
                <b>You</b>
              </div>
              <div class="message-content">
                {{chat.message}}
              </div>
            </div>
          </div>
        </li>

        <li class="message-container">
          <div class='message received'>
            <div class="message-text">
              <div class="message-sender">
                <b>AI Chatbot</b>
              </div>
              <div class="message-content">
              {{chat.response}}
              </div>
            </div>
          </div>
        </li>
      



        {% endif %}
      {% endfor %}
      </ul>

    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Type your message...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-dark btn-send">Send</button>
      </div>
    </div>
  </form>
</div>


<script>
  const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');

  messageForm.addEventListener('submit', (event) => 
  {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0)
    {
      return;
    }

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'send');
    messageItem.innerHTML = `
           <div class="message-text">
            <div class="message-sender">
              <b>You</b>
            </div>
            <div class="message-content">
              ${message}
            </div>
          </div>
        `;

    messagesList.appendChild(messageItem);
    messageInput.value = '';

    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>AI Chatbot</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;
        messagesList.appendChild(messageItem);
      });
  });

</script>


{% endblock %}
